.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 91px 50px 92px 50px;
  font-size: 18px;
}

.header__logo {
  width: 137px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 32px;
  list-style: none;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link-item {
  list-style: circle;
}

.header__link-active {
  text-decoration: none;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 240px;
  font-style: normal;
  line-height: 124%;
}

.header__address {
  justify-self: end;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
}

.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 107px;
  min-height: 757px;
  padding: 165px 50px 50px 50px;
  color: #fff;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
}

.cover__title,
.cover__description {
  z-index: 1;
}

.cover__title {
  font-size: 100px;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
}

.text-center {
  line-height: 150%;
  text-align: center;
}

.text-right {
  text-align: right;
}

.aligned-text__no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  text-transform: uppercase;
}

.cover__description-text {
  word-spacing: 19px;
}

.bet-button {
  border: 1px solid #fff;
  padding: 11px 32px;
  color: #fff;
  text-transform: uppercase;
  background: transparent;
  cursor: pointer;
}

.lots {
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin: 180px 24px 120px 24px;
}

.lots-title,
.lots__look-more-link {
  margin-left: 40px;
}

.lots-title {
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
}

.card-link .card {
  height: 100%;
}

.card-link {
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 334px;
  min-height: 596px;
  padding: 48px 40px 49px 40px;
  color: #fff;
  background-position: center;
  background-size: cover;
}

.card__title,
.card__text {
  z-index: 1;
  line-height: 120%;
}

.card__title {
  margin-bottom: auto;
  font-size: 22px;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text,
.lots__look-more-link {
  font-size: 20px;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.about {
  display: grid;
  grid-template-columns: 240px 1fr;
  gap: 72px;
  padding: 36px 0 0 71px;
}

.about__column {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.about__logo {
  width: 240px;
  height: 240px;
  border-radius: 100%;
  padding: 64px 46px 64px 46px;
  background-color: #000;
}

.about__title {
  margin-top: 102px;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
  line-height: 120%;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  padding: 178px 50px 82px 50px;
  font-size: 18px;
}

.footer__address {
  justify-self: start;
  line-height: 140%;
}

.footer__links-list {
  line-height: 122%;
  text-align: center;
  list-style: none;
}

.footer__link-active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10px;
  list-style: none;
}

.footer__social-list-item {
  width: 48px;
  height: 48px;
}
